<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

$(document).ready(function(){
    var id = '6'; // no variants

    var obj_attributes = {};
    obj_attributes['firstAttribute']= "value_first";
    obj_attributes['secondAttribute']= "value_second";

    var url = "/cart/add/" + id + "/ajax";

    $.ajax({
        url: url,
        type: 'POST',
        data: $.param({ item_attributes: obj_attributes }),
        success: function(response) {
            if(response.status == true){
                console.log("ok");
            }else{
                console.log("nok");
            }
        },
        error: function(e) {
            console.log(e.message);
        }
    });

});
</script>
</head>
<body>
<div>
{% set cartObject = cart.get() %}

{% for cartItemObject in cartObject.items %}
id: {{cartItemObject.id}}, name: {{cartItemObject.id}} , firstAttribute: {{cartItemObject.attributes.firstAttribute}}, secondAttribute: {{cartItemObject.attributes.secondAttribute}} <br/>
{% endfor %}

</div>


</body>
</html>