<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
<body>

  
  {% set cartObject = cart.get() %}
  
  
  {# create a string with all the id's in the cart #}
  {% set arr_cartIds = [] %}
  {% for cartItemObject in cartObject.items %}
    {% set arr_cartIds = arr_cartIds|merge([cartItemObject.id]) %}
  {% endfor %}
  {% set str_cartIds = arr_cartIds|join(",") %}
  <script>
    
    
    
    
    
    $(document).ready(function(){
      
      var arr_cartIds = "{{str_cartIds}}".split(",");
      
      function deleteCartItemsSync(){
        if(arr_cartIds.length>0){
          var id = arr_cartIds.pop();
 
          $.ajax({
              url: "/cart/remove/" + id + "/ajax",
              datatype: 'json',
              success: function(response) {
                if(response.status == true){
                  console.log(id + ": ok");
                }else{
                  console.log(id + ": nok");
                }
                deleteCartItemsSync();
              }
            }); 
        }
      
      }
      
      deleteCartItemsSync();
      
      
    });
  </script>
  
</body>
</html>