<html>
  <head>

  </head>
<body>

  <pre>
    {% set cartObject = cart.get() %}


    {% for cartItemObject in cartObject.items %}
      {% set productObject = product.getList({"id" : cartItemObject.product_id})[0] %}
      {{ productObject.name|var_dump }}
    {% endfor %}
  </pre>
 
  
</body>
</html>