<style>
    .countryrequired {
      border: 1px solid red;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

$(document).ready(function(){
  
  function updateBorderIfCartHasShippingCountry(){
    var len = $( "#cbocountry" ).val().length;
    if(len < 2 ){
      //alert("no country selected");
      $( "#cbocountry" ).addClass("countryrequired");
    }else{
      $( "#cbocountry" ).removeClass("countryrequired");
    }
  }

    $('#cbocountry').change(function() {
      updateBorderIfCartHasShippingCountry();
      $( "input[name=btnupdate]" ).click();
    });

  
    $('input[name="btncheckout"]').click(function(){
       updateBorderIfCartHasShippingCountry();
       
       var len = $( "#cbocountry" ).val().length;
       if(len < 2 ){
         return false;
       }
    });

});
</script>