{% set order = order.get(50)%}
<html>
<head>
<title>Invoice #{{ order.id }}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style type="text/css">
html {
	font-family: "sans-serif"
}

table {
	width: 100%;
	margin-bottom: 18px;
	padding: 0;
	font-size: 13px;
	border-collapse: collapse;
}

table th, table td {

	text-align: left;
}

table th {
	padding-top: 9px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
}

table td {
	vertical-align: top;
	border-top: 1px solid #ddd;
}

table tbody th {
	border-top: 1px solid #ddd;
	vertical-align: top;
}

.right {
	text-align: right;
}

table#billing_and_shipping td {
	border: none;
	padding: 5px 10px;
}
</style>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
	<h1>{{ solid.shop_name }}</h1>

    <h3>Invoice details</h3>
	<table>

		<tbody>
			<tr>
				<td>Invoice #{{ order.id }}</td>
			</tr>
            <tr>
				<td>Invoice Date:{{ now|date("Y-m-d") }}</td>
			</tr>
		</tbody>
	</table>

  
    	<h3>Order Attributes</h3>
	<table>
		<thead>
			<tr>
				<th>name</th>
				<th>value</th>
			</tr>
		</thead>
		<tbody>
			{% for attribute_key,attribute_value in order.attributes %}
			<tr}>
				<td>{{ attribute_key }}</td>
				<td>{{ attribute_value}}</td>
			</tr>
			{% endfor %}
		</tbody>

	</table>
  
    <h3>Customer</h3>
	<table>
		<thead>
			<tr>
				<th>Billing Details</th>
				<th>Shipping Details</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ order.customer.billing.first_name }} {{
					order.customer.billing.last_name }}</td>
				<td>{{ order.customer.shipping.first_name }} {{
					order.customer.shipping.last_name }}</td>
			</tr>

			<tr>
				<td>{{ order.customer.billing.address }}</td>
				<td>{{ order.customer.shipping.address }}</td>
			</tr>

			<tr>
				<td>{{ order.customer.billing.postal_code }} {{
					order.customer.billing.city }}</td>
				<td>{{ order.customer.shipping.postal_code }} {{
					order.customer.shipping.city }}</td>
			</tr>

			{% if order.customer.billing.region != "" %}
			<tr>
				<td>{{ order.customer.billing.region }}</td>
				<td>{{ order.customer.shipping.region }}</td>
			</tr>
			{% endif %}

			<tr>
				<td>{{ order.customer.shipping.country_code }}</td>
				<td>{{ order.customer.shipping.country_code }}</td>
			</tr>


			{% if (order.customer.billing.company != "") or
			(order.customer.billing.vat != "") %}
			<tr>
				<td>{{ order.customer.billing.company }}</td>
				<td>VAT {{ order.customer.billing.vat }}</td>
			</tr>
			{% endif %}
		</tbody>
	</table>

  

  
  
	<h3>Items</h3>
	<table>
		<thead>
			<tr>
				<th>name</th>
				<th>price</th>
				<th>quantity</th>
				<th>subtotal</th>
				<th>tax_setting</th>
                <th>tax_percentage</th>
                <th>tax</th>
				<th>total(incl)</th>
			</tr>
		</thead>
		<tbody>
			{% for item in order.items %}
			<tr}>
				<td>{{ item.name }}</td>
				<td>({{ item.tax_setting }} {{ item.tax_percentage }} tax) {{
					item.price|currency("symbol") }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.price_total }}</td>
                <td>{{ item.tax_setting }}</td>
                <td>{{ item.tax_percentage }}</td>
				<td>{{ item.tax }}</td>
				<td>{{ item.total|currency("symbol") }}</td>
			</tr>
			{% endfor %}
		</tbody>

	</table>





	<h3>Totals</h3>
	
	<table>
		<tbody>
			<tr>
				<td>
				<table>
                  <thead>
                      <tr>
                          <th>name</th>
                          <th>value</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>items_quantity</td>
                          <td>{{	order.items_quantity|currency("symbol") }}</td>
                      </tr>
                      <tr>
                          <td>items_price_total</td>
                          <td>{{	order.items_price_total|currency("symbol") }}</td>
                      </tr>

                      <tr>
                          <td>items_tax</td>
                          <td>{{	order.items_tax|currency("symbol") }}</td>
                      </tr>
                      <tr>
                          <td>items_total</td>
                          <td>{{	order.items_total|currency("symbol") }}</td>
                      </tr>


                      <tr>
                          <td>**********************************</td>
                          <td>**********************************</td>
                      </tr>
                      <tr>
                          <td>shipping_cost</td>
                          <td>{{	order.shipping_cost|currency("symbol") }}</td>
                      </tr>
                      <tr>
                          <td>shipping_discount</td>
                          <td>{{	order.shipping_discount|currency("symbol") }}</td>
                      </tr>

                      <tr>
                          <td>shipping_tax</td>
                          <td>{{	order.shipping_tax|currency("symbol") }}</td>
                      </tr>
                      <tr>
                          <td>shipping_total</td>
                          <td>{{	order.shipping_total|currency("symbol") }}</td>
                      </tr>


                     
                  </tbody>
              </table>

				</td>
                <td>
                <table>
                  <thead>
                      <tr>
                          <th>name</th>
                          <th>value</th>
                      </tr>
                  </thead>
                  <tbody>
                     

                      {% if order.coupon.code != "" %}
                      <tr>
                          <td >discount via coupon {{order.coupon.code }}:</td>
                          <td>{{	order.discount|currency("symbol") }}</td>
                      </tr>
                      {% endif %}


                      <tr>
                        <td >tax:</td>
                          <td >tax: {{order.tax|currency("symbol") }}</td>
                      </tr>


                      <tr>
                        <td >total:</td>
                          <td >total: {{order.total|currency("symbol") }}</td>
                      </tr>

                  </tbody>
              </table>

                </td>
			</tr>
		</tbody>
	</table>
	
	
	
</body>
</html>