<html>
<head>
<title>Title of the document</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style type="text/css">
html{ font-family: "sans-serif" }
table{width:100%;margin-bottom:18px;padding:0;font-size:13px;border-collapse:collapse;}
table th,table td{padding:10px 10px 9px;line-height:18px;text-align:left;}
table th{padding-top:9px;font-weight:bold;vertical-align:middle;text-transform:uppercase;}
table td{vertical-align:top;border-top:1px solid #ddd;}
table tbody th{border-top:1px solid #ddd;vertical-align:top;}
.right{text-align:right;}

table#billing_and_shipping td { border: none; padding: 5px 10px;}
</style>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<h1>{{ solid.shop_name }}</h1>

<table id="general_info">
<thead>
<tr>
    <th>Our details</th>
    <th class="right">Invoice details</th>
</tr>
</thead>
<tbody>
<tr>
    <td>
        Store address and contact details<br />
        Phone Number 0000-00000-00<br />
        VAT XX-XXX-XXXXX
    </td>
    

    <td class="right">
        Invoice #{{ orderObject.id }}<br />
        Invoice Date: {{ now|date("Y-m-d") }}
    </td>
</tr>
</tbody>
</table>


<table id="billing_and_shipping">
    <thead>
    <tr>
        <th>Billing Details</th>
        <th>Shipping Details</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ orderObject.customer.billing.first_name }}
                {{ orderObject.customer.billing.last_name }}
            </td>
            <td>{{ orderObject.customer.shipping.first_name }}
                {{ orderObject.customer.shipping.last_name }}
            </td>
        </tr>

	<tr>
            <td>{{ orderObject.customer.billing.address }} </td>
            <td>{{ orderObject.customer.shipping.address }} </td>
        </tr>

        <tr>
            <td>{{ orderObject.customer.billing.postal_code }} 
                {{ orderObject.customer.billing.city }}</td>
            <td>{{ orderObject.customer.shipping.postal_code }} 
                {{ orderObject.customer.shipping.city }}</td>
        </tr>

        {% if orderObject.customer.billing.region != "" %}
        <tr>
            <td>{{ orderObject.customer.billing.region }}</td>
            <td>{{ orderObject.customer.shipping.region }}</td>
        </tr>
        {% endif %}

        <tr>
            <td>{{ orderObject.customer.shipping.country_code }}</td>
            <td>{{ orderObject.customer.shipping.country_code }}</td>
        </tr>


        {% if (orderObject.customer.billing.company != "") or (orderObject.customer.billing.vat != "") %}
        <tr>
            <td>{{ orderObject.customer.billing.company }}</td>
            <td>VAT {{ orderObject.customer.billing.vat }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<h3>The goods</h3>
<table>
    <thead>
    <tr>
        <th>What?</th>
        <th>Options?</th>
        <th>Price?</th>
        <th>How many?</th>
        <th class="right">Amount?</th>
    </tr>    
    </thead>
    <tbody>
        {% for item in orderObject.items %}
        <tr{% if loop.index is odd %} class="odd"{% endif %}>        
            <td>{{ item.name }}</td>

            <td>
            {% for variant in item.variants %}
            {{variant.name}}: {{variant.value}}<br />
            {% endfor %}
            </td>


            <td>{{ item.price|currency("symbol") }}</td>
            <td>{{ item.quantity }}</td>
            <td class="right">{{ item.price_total|currency("symbol") }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="right">Sub total:
            {{ orderObject.items_price_total|currency("symbol") }}
            </td>
        </tr>  

        <tr>
            <td colspan="5" class="right">Taxes: 
            {{ orderObject.items_tax|currency("symbol") }}
            </td>
        </tr>

        <tr>
            <td colspan="5" class="right">Shipping: 
            {{ orderObject.shipping_cost|currency("symbol") }}
            </td>
        </tr>

	{% if orderObject.coupon.code != "" %}
        <tr>
            <td colspan="5" class="right">Discount with code <em>{{ orderObject.coupon.code }}</em>: 
            -{{ orderObject.coupon.discount|currency("symbol") }}
            </td>
        </tr>
        {% endif %}

        <tr>
            <td colspan="5" class="right">Order Total: 
            {{ orderObject.total|currency("symbol") }}
            </td>
        </tr>

    </tbody>
</table>

</body>
</html>