<html>

<head>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

	<script type="text/javascript">

	$( document ).ready(function() {
	 	
	 	$( "#search" ).click(function() {
		  var buttoncount = $( "#buttoncount" ).val();
		  var buttoncolor = $( "#buttoncolor" ).val();

		  var url = "customfieldsearchresults";
		  url += "/" +buttoncount;
		  url += "/" +buttoncolor;

		  $.ajax({
			   url: url,
			   error: function() {
			      $('#info').html('<p>An error has occurred</p>');
			   },
			   success: function(data) {
			      $('#results').html(data);
			   },
			   type: 'POST'
			});

		});

	});





	</script>
</head>

<body>

	<div id="searchdiv">
		<form>

			{# print custom fields#}
			{% set arr_customfieldgroups = customfieldgroup.getList({type:"product"})%}
			{% for name_customfieldgroup , arr_customfieldgroup  in arr_customfieldgroups %}
			    {% for arr_field  in arr_customfieldgroup.fields %}
			        {{arr_field.label}}
			        {% if arr_field.type == "list" %}
			        	<select id ="{{arr_field.name}}" name = "{{arr_field.name}}">
			        	<option value="any">any</option>
			            {% for str_option  in arr_field.options %}
			                 <option value="{{str_option}}">{{str_option}}</option>
			            {% endfor %}
			            </select>
			        {% endif %}
			        <br/>
			    {% endfor %}
			{% endfor %}


			<input type="button" value="Search" name ="search" id="search">
		</form>
	</div>

	<div id="results">

	<div>
</body>

</html>