{% set qry = {} %}

{% set urlvalue_buttoncount =  solid.getUrlSegment(2) %}
{% if urlvalue_buttoncount != "any" %}
	{% set qry = qry|merge({"custom_fields.extra.buttoncount.value":urlvalue_buttoncount}) %}
{% endif %}

{% set urlvalue_buttoncolor =  solid.getUrlSegment(3) %} 
{% if urlvalue_buttoncolor != "any" %}
	{% set qry = qry|merge({"custom_fields.extra.buttoncolor.value":urlvalue_buttoncolor}) %}
{% endif %}

count: {{ urlvalue_buttoncount}} <br/>
color: {{ urlvalue_buttoncolor}} <br/>

<ul>
{%  for productObject in product.getList(qry) %}
	<li>{{ productObject.name }} </li>
{%  endfor %}
</ul>