	{% set firstsegment = solid.getUrlsegment(1) %}
	{% if firstsegment == "" %}
		{% set meta_title = solid.shop_name %}
		{% set meta_description = solid.shop_name %}
		{% set meta_keywords = solid.shop_name %}
	{% elseif firstsegment == "page" %}
		{% set pageObject = page.get() %}
		{% set meta_title = solid.shop_name ~ ' -> ' ~ pageObject.name %}
		{% set meta_description = pageObject.content|strip_tags|trim %}
		{% set meta_keywords = "" %}
	{% elseif firstsegment == "category" %}
		{% set categoryObject = category.get() %}  
		{% set meta_title = solid.shop_name ~ ' -> ' ~ categoryObject.name %}
		{% set meta_description = categoryObject.name %}
		{% set meta_keywords = categoryObject.name %} 
	{% elseif firstsegment == "cart" %}
		{% set meta_title = solid.shop_name ~ ' ->  cart' %}
		{% set meta_description = "Cart for " ~ solid.shop_name %}
		{% set meta_keywords = ""%}    
	{% elseif firstsegment == "search" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ " search results for "~ " " ~ solid.getUrlsegment(2)|url_decode %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
	{% elseif firstsegment == "contact" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ "Contact" %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
	{% elseif firstsegment == "product" %}
		{% set productObject = product.get() %} 
        {% set meta_title = solid.shop_name ~ ' -> ' ~ productObject.name %}
        {% set meta_description = productObject.description %}
        {% set meta_keywords = "" %} 
	{% endif %}
	
	<title>{{ meta_title }}</title> 
	<meta name="description" content="{{ meta_description|strip_tags }}" />
	<meta name="keywords" content="{{ meta_keywords|strip_tags }}" /> 